<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.casual_dev.CASUALWatch">

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />

    <uses-sdk
        android:minSdkVersion="20"
        android:targetSdkVersion="20"
        android:versionCode="2"
        android:versionName="1.1" />
    <application android:label="${appName}">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".service.DataLayerListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <activity
            android:name="com.casual_dev.CASUALWatch.analog.AnalogWatchfaceActivity"
            android:allowEmbedded="true"
            android:label="CASUALWear Analog"
            android:taskAffinity="">

            <meta-data
                android:name="com.google.android.clockwork.home.preview"
                android:resource="@drawable/analogpreview" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.google.android.clockwork.home.category.HOME_BACKGROUND" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.casual_dev.CASUALWatch.digital.DigitalWatchfaceApp"
            android:allowEmbedded="true"
            android:label="CASUALWear Digital">

            <meta-data
                android:name="com.google.android.clockwork.home.preview"
                android:resource="@drawable/digitalpreview" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.google.android.clockwork.home.category.HOME_BACKGROUND" />
            </intent-filter>
        </activity>
    </application>

</manifest>
