<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.casual_dev">

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-sdk
        android:maxSdkVersion="21"
        android:minSdkVersion="20"
        android:targetSdkVersion="21" />
    <application
        android:name=".watch.analog.WatchfaceApp"
        android:label="${appName}">
        <activity
            android:name=".watch.analog.WatchfaceActivity"
            android:allowEmbedded="true"
            android:label="CASUALWear Analog"
            android:taskAffinity="">

        <meta-data
                android:name="com.google.android.clockwork.home.preview"
                android:resource="@drawable/preview" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.google.android.clockwork.home.category.HOME_BACKGROUND" />
            </intent-filter>
        </activity>
        <activity
            android:name=".watch.digital.DigitalWatchfaceActivity"
            android:allowEmbedded="true"
            android:label="CASUALWear Digital">

        <meta-data
                android:name="com.google.android.clockwork.home.preview"
                android:resource="@drawable/digitalpreview" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.google.android.clockwork.home.category.HOME_BACKGROUND" />
            </intent-filter>
        </activity>
    </application>

</manifest>
